# GitHub Token (需要 gist 权限)
GITHUB_TOKEN=your_github_token_here

# parser.js 上传配置
GIST_ID_PARSER=f49aaa6362feaa36270e66f604808c50

# Shadowrocket 规则上传配置
GIST_ID_SHADOWROCKET=e8f0ebb16fd0bcc173bfe082ca3543c0 